.wrapper{
    max-width: 1411px;
    margin: 78px auto 140px;
    padding: 0 78px;
    box-sizing: content-box;
}
.heading{

}
.hrColor{
    background-color: #797474;
}
.hrHeader{
    margin:46px 0 120px
}