.card{
    display: flex;
    flex-direction: column;
    max-width: 330px;
     box-sizing: border-box;
    width: 330px;
}
.contaner{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 4px ;
    margin-right: 10px;
    margin-left: 10px;   
}
.typograph{
    font-size: 16px;
}