.catalog{
    width: 1050px;
}
.previe{
    width: 1290px;
}
.grid{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    
    row-gap: 100px;
}
