.listProject{
    display: flex;
    flex-direction: column;
    max-width: 1410px ;
    margin: 60px auto  0;
}
.catalogProject{
    display: flex;
   column-gap: 150px;

}
.hrMargin{
    margin-top: 284px;
}
.pagination{
    margin-top: 54px;
    margin-bottom: 34px;
}